:root{
    --cor-padrao:#8E2424;
    --cor-secundaria:#667085;
    --margin-secao:4%;      
}

body{
    width: 80%;
    height: 100vh;
    margin:0.6% auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#logo{
    flex:2;
}
nav ul {
    display: flex;
    justify-content:flex-start;
    list-style: none;
    flex:4;
}
nav ul li {
    margin: 0 2%;
}
 nav ul li a{
    color: var(--cor-secundaria);
    text-decoration: none;
    transition: all 1s;
}

nav ul li a:hover{
    color: var(--cor-padrao);
}

nav #botoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:2;
}
nav #botoes button{
    background-color: var(--cor-padrao);
    color:white;
    border:transparent;
    padding: 3% 4%;
    margin-left: 3%;
    border-radius: 10px;
    transition: all 1s;
}
#botoes button:hover{
    background-color: var(--cor-secundaria);
    cursor: pointer;
}
#botoes span{
    color: var(--cor-secundaria);
    margin-right: 3%;
}
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-secao);
}
#sobre span{
    color: var(--cor-padrao);
}
#sobre h1{
    font-size: 2.5em;
}
#sobre p {
    color: var(--cor-secundaria);
    font-size: 1.2em;
    width: 60%;
    text-align: center;
}
#metricas{

    display: flex;
    margin-top: var(--margin-secao);
    align-items: center;
    justify-content: space-between;
}
.box-metricas{
    width: 20%;
}
.box-metricas span{
    display: block;
    font-size: 4em;
    color: var(--cor-padrao);
}
.box-metricas b{
    font-size: 1.2em;
}
.box-metricas p{
    color: var(--cor-secundaria);
    font-size: 0.9em;
}
#vagas-titulo div{
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-secao);
    align-items: center;
}
#vagas-titulo div span{
    color: var(--cor-padrao);
    background-color:#f3f3f3;
    padding: 1%;
    border-radius: 20px;
    transition: all 1s;
}
#vagas-titulo span:hover{
    background-color: var(--cor-padrao);
    color:#f3f3f3;
    cursor: pointer;
}

#vagas-titulo h2{
    font-size: 2em;
}
#vagas-titulo p {
    color: var(--cor-secundaria);
    font-size: 1.2em;
    width: 60%;
    text-align: center;
}
#vagas-titulo img{
    margin-top: var(--margin-secao);
    width: 100%;
}
#vagas-descricao{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--margin-secao);
}
#box-vagas{
    width: 55%;
}
.titulo-vaga{
    font-weight: bold;
}
.vaga{
    margin: 3% 0;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid rgba(207, 207, 207, 0.5);
}
.vaga span{
    font-size: 0.8em;
    font-weight: bold;
}
.vaga p{
    color: var(--cor-secundaria);
    font-size: 0.7em;
    margin-top: 3%;
}